@(message: String)

@main("Learn a country a day!") {

<!--
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
        <p class="text-center">One of three columns</p>

    </div>
    <div class="col">
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col text-center">
          <img id="flagImg" class="img-fluid rounded border" width="700">
          <!--<img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Albania.svg" class="img-fluid rounded" width="400px">-->
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a id="countryLink"><h4 id="countryName"></h4></a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5 id="capital"><emph id="capital"></emph></h5>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend is-invalid">
              <span class="input-group-text">Capital</span>
            </div>
            <input type="text" class="form-control is-invalid" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col text-center">
          <button id="capitalButton" type="button" class="button">I give up</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<!--
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-3 large-offset-3 cell">
      <img id="flagImg" alt="Card image cap">
    </div>
    <div class="cell">
      <a id="countryLink"><h4 id="countryName"></h4></a>
    </div>
    <div class="cell">
      <h5>Capital: <emph id="capital">???</emph></h5>
    </div>

    <form>
      <div class="large-3 columns">
        <label for="right-label" class="right">Label</label>
      </div>
      <div class="large-3 columns">
        <input type="text" id="right-label" placeholder="Inline Text Input">
      </div>
    </form>

    <div class="cell">
      <button id="capitalButton" type="button" class="button">I give up</button>
    </div>
  </div>
</div>
    -->



}
