@()

@main("Learn a new capital every day!") {
<!--
  <header><h1>Today's capital is: <i>Kabul</i></h1></header>

  , Afghanistan
  <img src="https://placekitten.com/800/200"></img>
-->

    <div class="container bg-white col-md-5">
      <div class="row flex-nowrap justify-content-between align-items-center mb-4">
        <div class="col text-center">
          <h1>Today's capital is: <i>Kabul</i></h1>
        </div>
      </div>

      <div class="row">
        <div class="col mx-auto">
          <h2>Fact sheet</h2>
          <table class="table table-sm table-striped">
            <thead>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="col-1">Country</th>
                <td>Afghanistan &#x1F1E6;&#x1F1EA;</th> <!-- Two unicode chars spell AF -->
              </tr>
              <tr>
                <th scope="row" class="col-1">Population</th>
                <td>4.222 million</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col mx-auto">
          <h2>Fun facts</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Who built Kabul is largely unknown and it is believed to be at least 3,500 years old</li>
            <li class="list-group-item">Alexander the Great took control of Kabul during his conquests</li>
            <li class="list-group-item">It snows more than it rains in Kabul</li>
            <li class="list-group-item">It is one of the highest capital cities in the world</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col mx-auto">
          <img class="img-fluid rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Montage_of_Kabul_City.png/800px-Montage_of_Kabul_City.png" alt="Source: https://en.wikipedia.org/wiki/Kabul#/media/File:Montage_of_Kabul_City.png on 2020-10-17"></img>
        </div>
      </div>
    </div>

}
