@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet"
          href="@routes.Assets.versioned("stylesheets/third_party/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <title>@title</title>

    </head>
    <body class="bg-light">
      @content

      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/third_party/jquery-3.2.1.slim.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/third_party/popper.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/third_party/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
